/*------ text ------*/
body, p{
    color: white;
    font-family: 'Helvetica', 'Arial', 'Lato', sans-serif;
    text-align: left;
    font-size: 1.4rem;
}

.text-center p{
    text-align: center;
}

i{
    text-align: center;
    color: #2A8194;
    font-size: 8rem!important;
    margin-top: 50px;
    margin-bottom: 15px;
}

a:link, a:visited {
    color: #FB8C00;
    text-decoration:none;
}

a:hover, a:active {
    color: #e67e22;
    text-decoration:none;
}



/* ------- headers ------*/

h1, h2, h3, h4{
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

h1{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold;
}

h2{
    font-size: 3rem;
    font-weight: 300;
}

h3{
    font-size: 2rem;
}

h4{
    color: #FB8C00;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1rem;
}


/* ----- Boxes ----*/

.container{
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.text-box{
    background: rgba(37,61,74,0.8);
    padding: 2rem 4rem;
    color: white;
    text-align: left;
}



/* SECTIONS */
.first{
    /*margin-top: -20px;*/
    margin-bottom: 0;
}
.section{
    text-align: center;
    padding-top: 58px;
}
.section h1, .first h1,
.section h2, .first h2{
    color: #FFF;
    text-align: left;
}

.section h1, .first h1{
    font-weight: bold;
    font-family: 'Open Sans Condensed';
}

.section h2, .first h2{
    margin-top: 0;
    padding-bottom: 10px;
    font-size: 2rem;
    font-family: 'Open Sans';
}

.section h1, .jumbotron h1,
.section h2, .jumbotron h2,
.section h3, .jumbotron h3{
    font-weight: 400;
}

.section h1, .jumbotron h1{
    text-shadow: 1px 1px 1px #333;
}

.section h2, .jumbotron h2{
    text-transform: none;
    text-shadow: 1px 1px 1px #333;
    font-weight: normal;
}

.section h3, .jumbotron h3{
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    font-weight: 400;
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    text-align: left;
}



/* ------BUTTONS ------- */
button, button:hover, .btn, .btn:hover{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    box-shadow: none;
    border-right: 3px solid #1a2a33;
    border-bottom: 3px solid #154852;
    padding: 12px;
    border-radius: 0!important;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
}

.btn-lg{
    margin-right: 32px!important;
    padding: 12px;
}

.section .btn-default{
    color: #fff;
    background-color: #1E6876;
    border-color: #1E6876
    margin-bottom: 16px;
    border-color: #1E6876;
    font-size: 12px;
    font-weight: bolder;
}

.btn-primary{
    color: #fff;
    background-color: #253D4A;
    border-color: #253D4A
    margin-bottom: 16px;
    border-color: #1E6876;
    font-size: 12px;
    font-weight: bolder;
}

.section .btn-primary:hover,
.section .btn-primary:active,
.section .btn-primary:focus,
.section .btn-primary:focus:hover,
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:focus:active{
    color: #fff;
    background-color: #FB8C00;
    border-color: #FB8C00;
    -webkit-transition: ease-in-out 500ms; /* Safari */
    transition: ease-in-out 500ms;
}

.btn-long{
    width: 80%;
}


/* --------- Table and Forms ------*/
td{
    padding: .5rem;
}

input[type=text], input[type=tel], input[type=email], textarea{
    border-style: none; 
    padding: 4px;
    background-color: #fff;
    box-shadow: none; 
    color: #253D4A;
}
input[type=text]:focus,  input[type=tel]:focus, input[type=email]:focus, textarea:focus {
    outline: 2px solid #FB8C00;
}


/* ------- Horizontal Rule -------*/
hr {
    width: 128px;
    height: 4px;
    background: #e67e22;
    border-radius: 2px;
    margin-bottom: 1.5rem;
}



/* ------- ICONS ------ */
.icon {
    color: #fff;
}

.icon-o {
    color: #e67e22;
}

.container-small{
    padding: 40px;
}



/* ----------- FOOTER --------------*/
.contact-us{
    margin-right: 20px;
}

.no-bullet{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form-control{
    margin-right: 20px;
    margin-bottom: 20px;
}

.midnight, .footer{
    background-color: #253D4A;
    color: #ECF0F1;
    text-align: left!important;
}

.footer p, .footer li{
    color: #ECF0F1;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

a.fal, .footer a.fal:visited{
    color: #FB8C00;
    margin-right: 48px;
    margin-left: -16px;
    text-decoration: none;
}

.footer a.fal:hover, .footer a.fal:active{
    color: #e67e22;
    text-decoration: none;
}

.footer li{
    font-family: 'Open Sans', sans-serif;
}

.footer h2{
    color: #ECF0F1;
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
}

.footer h3{
    color: #ECF0F1;
    margin-left: 0;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 2.8rem;
}

.footer .row{
    margin-top: 0rem;
    padding: 0;
}

.footer .credits{
    font-size: 14px;
    color: #ddd;
    font-family: 'Open Sans', sans-serif;
    padding-top: 4em;
    margin-bottom: 80px;
}
.credits a{
    color: #ECF0F1;
}
.credits a:hover{
    text-decoration: underline;
    color: white;
}


.text-muted{
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
}




/* Overwriting styles for control arrows for slides
* --------------------------------------- */
.controlArrow.prev {
    left: 50px;
}
.controlArrow.next{
    right: 50px;
}