/* CUSTOM SECTIONS*/
#section0{
    background: url('./images/ottawa-canal.jpg');
    background-repeat: no-repeat;
    background-position: center right; 
    background-size: cover;
}
#section2{
    background: url('./images/global-network.jpg');
    background-repeat: no-repeat;
    background-position: top right; 
    background-size: cover;
}


#section2 h2{
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 0;
    font-style: italic;
    font-weight: 300;
}


#section2 h1, #section2 h2, #section2 p, #section4 h1{
    color: white;
}
#section2 .text-box{
    background: rgba(37, 61, 74, 0.95);
}

#section1 h4, #section3 h4{
    text-align: left;
}

#section1{
    background: url('./images/lightbulbs.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}



#section3{
    background:  url('./images/grey-blobs.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}


#section4{
    background: linear-gradient(
      rgba(0, 107, 119, 0.15), 
      rgba(0, 107, 119, 0.20)
    ), url('./images/grey-triangles.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

.row{
    margin-top: 4rem;
}

p.text-muted{
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
}


/* ICONS */
.icon, .icon-o{
    margin-top: 1rem;
}

.icon {
    color: #FFF;
}


/* Insight Navigation */
.insight-holder{
    margin-top: 4rem;
}

.insight-nav, .insight-nav:visited, .insight-nav:link {
    color: #253D4A;
    margin-right: 1rem;
    padding-top: 9px;
    font-style: italic;
}

.insight-nav.active, .insight-nav:visited:hover, .insight-nav:hover, .insight-nav:active, .insight-nav:hover:active {
    color: #FB8C00;
    padding-top: 6px;
    border-top: 3px solid #FB8C00;    
}
