/* rule */
hr{
    margin: 4rem auto;
}


/*Headers*/
h1{
    font-size: 4rem;
}


/* CUSTOM SECTIONS*/
#section0{
    background: url('./images/light-web.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#section3 h4 {
    text-align: center;
}

.row{
    margin-top: 4rem;
}


/* ICONS */
.icon, .icon-o{
    margin-top: 1rem;
}

.icon {
    color: #FFF;
}
.icon-o {
    color: #f39c12;
}
.icon-b {
    color: #3498db;
}