/* CUSTOM SECTIONS*/
#section0{
    background: url('../images/orange-arrow-bg.jpg');
    background-repeat: no-repeat;
    background-position: center right; 
    background-size: cover;
}


#section2 h2{
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 0;
    font-style: italic;
    font-weight: 300;
}

.row{
    margin-top: 4rem;
}

p.text-muted{
    font-size: 12px;
    text-align: center;
    margin-top: 1rem;
}


/* ICONS */
.icon, .icon-o{
    margin-top: 1rem;
}

.icon {
    color: #FFF;
}


/* SERVICES */
@media only screen and (max-width: 768px) {
    .service-image {
        display: none
    }
    .service-text {
        display: block
    }
}

@media only screen and (min-width: 768px) {
    .service-image {
        display: block
    }
    .service-text {
        display: none
    }
}


/*PAST CLIENTS LINKS */

/* Insight Navigation */
.insight-holder{
    margin-top: 2rem;
}

.insight-nav, .insight-nav:visited {
    color: #253D4A;
    margin-right: 1rem;
    padding-top: 9px;
    font-style: italic;
}

.insight-nav.active, .insight-nav:visited:hover, .insight-nav:hover, .insight-nav:active, .insight-nav:hover:active {
    color: #FB8C00;
    padding-top: 6px;
    border-top: 3px solid #FB8C00;    
}