/* Palette
Primary:          #2d87b1
Secondary Light:  #d52056
Secondary Dark:   #d52056
Accent:           #00c09d
Pale:             #f7f7fb
dark:             #48485e
*/

/* Fonts */





h2, h3, h4, h5{
    font-family: 'Bree Serif', serif;
}

h2{
    color: #2d87b1;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 40px;
    margin: 48px 0 20px 0;
}

h3{
    color: #2d87b1;
    font-size: 28px;
    margin: 42px 0 18px 0;
}

.no-gap h3{
    margin-top: 0;
}

h4{
    color: #00c09d;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}



/* Header section */
.header{
    background: #2d87b1;
    color: white;
}

.header h1{
    padding: 15px;
    text-transform: uppercase;
    margin: 64px auto;
    text-align: center;
    border: none;
    font-size: 52px;
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow: 1px 2px 0px black;
}

.header-text h3{
    color: #FFEB3B;
    /*text-shadow: 1px 1px 0px #0f292f;*/
}


.header p{
    color: #fff;
}
.row{
    margin-bottom: 30px;
}

.header .row{
    display: flex;
    margin: 64px auto;
}

.header-img{
    padding: 0 8%;
}

.header-img img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.header-text{
    vertical-align: middle;
    margin: auto;
}

.social-media{
    margin-bottom: 20px;
}

.social-media a,
.social-media a:active,
.social-media a:visited{
    font-size: 28px;
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

.social-media a:hover{
    color: #FFEB3B;
    text-decoration: none;
}

.header .call-to-action,
.header .call-to-action:visited{
    color: #FBCEE3;
    border-color: #FBCEE3;
    outline: none;
}

.header .call-to-action:hover,
.header.call-to-action:active{
    color: #26C6DA;
    background-color: #FBCEE3;
    border-color: #FBCEE3;
    outline: none;
    transition: 250ms ease-out;
}

/* body sections */

.container, .container-small{
    padding-bottom: 30px;
}

.grey{
    background: #f7f7fb;
}

hr{
    width: 120px;
    height: 2px;
    background: #00c09d;
    border-radius: 2px;
    margin-bottom: 42px;
}

/* cards */
.card{
    border-top: 3px solid #d52056;
    border-bottom: 3px solid #d52056;
    border-radius: 3px;
    margin-bottom: 20px;
}

.card-block{
    padding: 1.25rem;
}

.card-img-top{
    width: 100%;
    height: auto;
    z-index: -1;
}


/* buttons */
.btn{
    border-radius:  4px;
    outline: none;
    box-shadow: none;
    box-shadow: 1px 2px 0px rgba(0,0,0,.125);
    padding: 5px 18px;
    margin: 5px 0;
}

.btn-primary,
.btn-primary:visited{
    background-color: #ef2964;
    border-color: #ef2964;
}

.btn-primary:hover,
.btn-primary:active{
    transition: 100ms ease;
    background-color: #d52056;
    border-color: #d52056;
    box-shadow: 1px 2px 5px rgba(0,0,0,.25);
}

.btn-lg{
    border-radius: 4px;
    padding: 10px 35px;
}

.call-to-action,
.call-to-action:visited{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    padding: 14px 34px;
    border-radius: 4px;
    color: #c0392b;
    border: #c0392b 2px solid;
    text-decoration: none!important;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    min-height: 44px;
}

.call-to-action:hover,
.call-to-action:active{
    color: #FFEBCA;
    border-color: #FFEBCA;
    outline: none;
}

/* images */
.work-xp-img{
    width: 42px;
    height: auto;
    margin-right: 14px;
    float: left;
}

.skills-img{
    height: 42px;
    width: auto;
}

.values-photo{
    margin: auto;
    margin-top: 40px;
    width: 50%;
}

.circle-photo{
    border-radius: 50%;
    margin: auto;
    margin-top: 40px;
    width: 60%;
    overflow: hidden;
    border: #f7f7fb 6px solid;
    box-shadow: 0 0 4px #00c09d;
}

.circle-photo>img,
.values-photo>img{
    width:100%;
}


#course-summary{
    display: none;
}

li{
    margin-bottom: 16px;
}

ul{
    padding-left: 30px;
}

/*side img section */

.container-fluid .row{
    margin-bottom: 0;
}

.double-peace-bg{
    background-image: url(./images/double-peace.JPG);
    background-position: center;
    background-size: cover;
}

.side-section{
    background: white;
}


/*footer */
.footer{
    background: #48485e;
}

.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer p{
    color: white;
}

.footer a,
.footer a:visited{
    color: white;
}
.footer a:hover,
.footer a:active{
    color: #FFEB3B;
}

.footer-img{
    padding-right: 8%;
    padding-left: 0;
    text-align: center;
    margin-top: 42px;
}

@media screen and (max-width: 766px){
    .footer-img{
        padding: 0 10%;
    }
}

.footer-img img{
    width: 75%;
    height: auto;
    border-radius: 50%;
}

.col-md-3{
    position: relative;
}

.grade{
    position: absolute;
    top: 8px;
    right: 50px;
    font-weight: bold;
    color: #2d87b1;
}