#section4 .row{
    padding: 2rem 0;
}

/* CUSTOM SECTIONS*/
#section0{
    background-color: #253D4A;
    background: url('../images/join-us.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}



#section0 h2{
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 0;
    font-style: italic;
    font-weight: 300;
}

#section1 .row{
    margin: 0;
    padding: 0;
}

#section2 h4, #section2 p{
    text-align: center;
}


#section4 h4{
    text-align: left;
}

@media only screen and (max-width: 768px) {
    #section4 h4, #section4 p {
        text-align: center;
    }
}

#section3{
    background: url('../images/sky-scraper.jpg');
    background-repeat: no-repeat;
    background-position: middle; 
    background-size: cover;
}

#section4 .col-md-2 h1{
    text-align: center;
    font-size: 5rem;
}

#section5{
    background-color: #253D4A;
    background: url('../images/mic.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#section6{
    background-color: #253D4A;
    background: url('../images/pen.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}


@media only screen and (max-width: 1199px) {
    .collab-image {
        display: none
    }
    .collab-text {
        display: block
    }
}

@media only screen and (min-width: 1199px) {
    .collab-image {
        display: block
    }
    .collab-text {
        display: none
    }
}