.row{
    padding: 2rem 0;
}

/* CUSTOM SECTIONS*/
#section0{
    background-color: #253D4A;
    background: url('../images/join-us.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}


#section0 h2{
    padding-bottom: 0;
    font-style: italic;
}


#section1 .col-md-4{
    margin: 2rem 0;
}
#section1 .row{
    margin: 0;
    padding: 0;
}


#section2 h4, #section4 h4{
    text-align: left;
}

@media only screen and (max-width: 768px) {
    #section2 h4, #section2 p, #section4 h4, #section4 p {
        text-align: center;
    }
}

#section4 .col-md-2 h1{
    text-align: center;
    font-size: 5rem;
}

#section5{
    background-color: #253D4A;
    /*background: url('../images/people.jpg');*/
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#section6{
    background-color: #253D4A;
    /*background: url('../images/join-us.jpg');*/
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}
