.footer .row.space{
    margin-top: 2rem;
}

.container{
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
}

.form-control{
    border-radius: 0;
}


.form-control:active{
    outline: 2px solid #FB8C00
}