#section0 .row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#section0 {
    background-size: cover;
}

#section1 {
    background-image: url("../images/ottawa-sunset.jpg");
    background-size: cover;
}