
h3{
    margin: 0;
    margin-bottom: 20px;
}

.grey .container .row,
.white .container .row,
.grey .container-small .row,
.white .container-small .row{
    margin: 50px 10px;
}

.margin-vertical{
    margin: 50px 0;
}

.first{
    background-position: left;
    background-size: cover;
    background-image: url('../images/why-us.jpeg');
}

@media screen and (min-width: 768px){
    .grey .row,
    .white .row{
        display: flex;
        align-items: center;
    }
}

.management-bg{
    background-image: url(../images/management.jpg);
    background-position: center;
    background-size: cover;
}

.side-section{
    background: white;
}

.lead{
    font-family: "Open-Sans", sans-serif;
    color: #2980B9;
}