.text-jumbo{
    font-size: 80px;
    line-height: 84px;
    color: #3498DB;
    font-family: "Open-Sans", sans-serif;
    margin-bottom: 0;
}

h3{
    margin: 0;
    margin-bottom: 20px;
}

.green-200 .container .row,
.yellow-200 .container .row,
.green-200 .container-small .row,
.yellow-200 .container-small .row{
    margin: 50px 10px;
}

.margin-vertical{
    margin: 50px 0;
}

.icon-jumbo{
    font-size: 100px!important;
    margin: 0;
}

@media screen and (min-width: 768px){
    .green-200 .row,
    .yellow-200 .row{
        display: flex;
        align-items: center;
    }
}

.management-bg{
    background-image: url(../images/management.jpg);
    background-position: center;
    background-size: cover;
}

.side-section{
    background: white;
}

.container-small{
    padding: 40px;
}

.lead{
    font-family: "Open-Sans", sans-serif;
    color: #2980B9;
}