.first {
    background: url('../images/happy-serve.jpeg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#process{
    margin-bottom: 50px;
}

.card h3{
    margin-top: 8px;
}

.card{
    background: #fff;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    margin: 20px 0;
    padding: -1;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

.card-img-top{
    width: 100%;
    height: 160px;
    overflow: hidden;
    background: #2980B9;
}

.card-img-top img{
    width: 100%;
    height: auto;
    cursor: pointer;
}
.card-img-top img:hover{
    opacity: 0.8;
    width: 110%;
    margin: -5%;
    transition: 100ms ease;
}

.card-block{
    padding: 8px;
    min-height: 208px;
    position: relative;
}

@media screen and (max-width: 1200px){
    .card-block{
        min-height: 268px;
    }
}

@media screen and (max-width: 992px){
    .card-block{
        min-height: 178px;
    }
    .card-img-top{
        position: relative;
    }
    .card-img-top img{
        position: absolute;
        bottom: -150px;
    }
}

.card-block a{
    text-transform: uppercase;
    font-weight: bold;
    color: #c0392b;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    bottom: 8px;
    width: 100%;
}

.v-center{
    display: flex;
    align-items: center;
}

.font-lg{
    color: #3498DB;
    font-size: 60px;
    line-height: 64px;
    font-family: "Open-Sans", sans-serif;
    margin-bottom: 0;
}

.block{
    margin: 40px 0;
    border-left: 4px solid #3498DB;
    padding-left: 8px;
}

.modal-body{
    padding: 30px;
}

i{
    margin-top: 10px;
}