.first {
    background: url('../images/happy-serve.jpeg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#process{
    margin-bottom: 50px;
}

.card h3{
    margin-top: 8px;
}

.card{
    background: #fff;
    border: 1px solid #bdc3c7;
    border-radius: 4px;
    padding: -1;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.24);
    
    overflow: hidden;
    margin: 20px 0;
}

.card-img-top{
    width: 100%;
    height: 200px;
    overflow: hidden;
    background-image: url('../images/read-more.jpg');
    background-size: contain;
    background-position: center;
}

.card-img-top img{
    width: 100%;
    height: auto;
    min-height: 100%;
    cursor: pointer;
}
.card-img-top img:hover{
    opacity: 0.3;
    /*width: 110%;*/
    /*margin: -5%;*/
    transition: 200ms ease;
}

.card-block{
    padding: 8px;
    min-height: 208px;
    position: relative;
}

@media screen and (max-width: 1200px){
    .card-block{
        min-height: 268px;
    }
}

@media screen and (max-width: 992px){
    .card-block{
        min-height: 178px;
    }
    .card-img-top{
        position: relative;
    }
    .card-img-top img{
        position: absolute;
        bottom: -150px;
    }
}

@media screen and (max-width: 565px){
    .card-img-top img{
        position: relative;
        bottom: auto;
    }
    
    .card-block{
        min-height: 268px;
    }
}

.card-block a{
    text-transform: uppercase;
    font-weight: bold;
    color: #c0392b;
    font-family: "Open Sans", sans-serif;
    position: absolute;
    bottom: 8px;
    padding-right: 20px;
    width: 100%;
    text-align: right;
    font-size: 16px;
    outline: none!important
}

.v-center{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.font-lg{
    color: #3498DB;
    font-size: 60px;
    line-height: 64px;
    font-family: "Open-Sans", sans-serif;
    margin-bottom: 0;
    text-align: center;
}

.block{
    margin: 30px 0;
    border-left: 4px solid #3498DB;
    padding-left: 8px;
}

.modal-body{
    padding: 30px;
}

.modal-body h4{
    text-align: center;
}

.modal-header{
    position: relative;
}

i{
    margin-top: 10px;
}

.x{
    color: #E74C3C;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-weight: bold;
}
.x:hover {
    color: #F75C4C;
}

ul{
    margin-bottom: 30px;
}