#section0{
    background-color: #253D4A;
    background: url('../images/hire-us.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#section1{
    text-align: left;
}

#section1 .icon{
    text-align: center;
    margin-top: 1rem;
}

#section1 .row{
    
    padding: 2rem 0;
}

#section3{
    background-color: #253D4A;
    background: url('../images/people.jpg');
    background-repeat: no-repeat;
    background-position: bottom; 
    background-size: cover;
}

#section4{
    text-align: left;
}