.first {
    background: url('./images/blue-windows.jpeg');
    background-repeat: no-repeat;
    background-position: top; 
    background-size: cover;
}

/* THE LEAP */
#the-leap .row{
    margin: 20px;
}


/* GROWTH */
#growth h1{
    text-align: center;
}

/* CARDS */
#growth .card{
    border-radius: 0;
    overflow: hidden;
    margin: 10px;
    margin-top: 50px;
    margin-bottom: 0;
}

#growth .card-block{
    padding: 1.25rem;
    padding-left: 0;
}

#growth .card-title{
    margin-top: 0;
}

#growth .card-img-top{
    width: 100%;
    height: auto;
    clip: rect(0,0,0 20px);
}


/* STATS JUMBOTRON */
.smartphone-stats{
    background: url('./images/smartphone-stats.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}

.stats h3{
    text-align: right;
}


/* VALUES */
#values h2, #values h3{
    text-align: center;
}

#values p{
    font-size: 1.5rem;
}

#values{
    padding-bottom: 20px;
}